$color-primary--dark:#444444;
$color-primary--light:#fff;
$color-primary--dark-alt:#cccccc;
$color-secondary--dark:#fb8521;
$color-secondary-alt--dark:white;




//LOGIN
$login-background--dark:$color-primary--dark;
$login-labels--dark:$color-primary--dark-alt;
$login-input-focus--dark:$color-secondary--dark;
$login-button:$color-secondary--dark;

//NAVBAR
$navbar-background--light:$color-primary--light;
$navbar-background-alt--light:$color-primary--dark;
$navbar-border--light:$color-primary--dark-alt;