//sizes
$font-size--small:0.65rem;
$font-size--medium:1rem;
$font-size--large:1.35rem;
$font-size--xl:2rem;


//login-sizes
$login-form-height:17rem;
$input-padding:0.5rem 0.3rem;


//navbar-sizes

$navbar-font-size:$font-size--small;



