//sizes
$font-size--small:1rem;
$font-size--medium:1.6rem;
$font-size--large:1.8rem;
$font-size--xl:2rem;


//login-sizes
$login-form-height:17rem;
$input-padding:0.5rem 0.5rem;


//navbar-sizes
$navbar-height:4rem;
$navbar-font-size:$font-size--medium;



$login-bg:url('/assets/images/login-bg.jpg');
$app-bg:url('/assets/images/app-bg-1.avif');
$signup-bg:url('/assets/images/signup-bg.avif');
$user-bg:url('/assets/images/user-bg.jpg');
$user-body:url('/assets/images/user-body.jpg');
$book-1:url('/assets/images/bk-1.jpg');
$book-2:url('/assets/images/bk-2.jpg');
$home-bg:url('/assets/images/home-bg (2).jpg');