<nav class="navbar">
  <ul class="navbar__buttons">
    <li>{{ (isLoggedIn$ | async) ? "LOGGATO" : "NON SEI LOGGATO" }}</li>
    <li>
      <button
        class="navbar__button"
        *ngIf="isLoggedIn$ | async"
        routerLink="/food/overview"
      >
        Pantry
      </button>
    </li>


    <li><button class="navbar__button">ADMIN</button></li>
    <li><button class="navbar__button">USER</button></li>
    <li><button class="navbar__button" [routerLink]="'/admin/users'">ADMIN USERS</button></li>

    <li>
      <button
        class="navbar__button"
        [ngClass]="{ 'navbar__button--focus': showLogin }"
        (click)="clickAccedi()"
        *ngIf="isLoggedOut$ | async"
      >
        Accedi
      </button>
    </li>
    <li>
      <button
        class="navbar__button"
        [ngClass]="{ 'navbar__button--focus': showLogin }"
        (click)="clickLogout()"
        *ngIf="isLoggedIn$ | async"
      >
        Logout
      </button>
    </li>
  </ul>
</nav>
<div class="login-container" *ngIf="showLogin$|async">
  <app-login></app-login>
</div>
