<nav class="navbar">
  <ul class="navbar__buttons">
    <li
      class="navbar__button"
      [ngClass]="{
        'status--online': (isLoggedIn$ | async),
        'status--offline': !(isLoggedIn$ | async)
      }"
    >
      {{ (isLoggedIn$ | async) ? "LOGGED IN" : "NOT LOGGED IN" }}
    </li>
    <li>
      <button
        class="navbar__button"
        *ngIf="isLoggedIn$ | async"
        routerLink="/food/overview"
      >
        Pantry
      </button>
    </li>

    <li *appRbacAllow="['ADMIN']">
      <button class="navbar__button">ADMIN</button>
    </li>
    <li *appRbacAllow="['ADMIN', 'USER']">
      <button class="navbar__button">USER</button>
    </li>
    <li *appRbacAllow="['ADMIN']">
      <button class="navbar__button" [routerLink]="'/admin/users'">
        ADMIN USERS
      </button>
    </li>

    <li>
      <button
        class="navbar__button"
        [ngClass]="{ 'navbar__button--focus': showLogin }"
        (click)="clickAccedi()"
        *ngIf="isLoggedOut$ | async"
      >
        Login
      </button>
    </li>
    <li>
      <button
        class="navbar__button"
        [ngClass]="{ 'navbar__button--focus': showLogin }"
        [routerLink]="'/signup'"
        *ngIf="isLoggedOut$ | async"
      >
        Sign up
      </button>
    </li>

    <li>
      <button
        class="navbar__button"
        [ngClass]="{ 'navbar__button--focus': showLogin }"
        (click)="clickLogout()"
        *ngIf="isLoggedIn$ | async"
      >
        Logout
      </button>
    </li>
    <li>
      <button
        class="navbar__button"
        (click)="whoami()"
        *ngIf="isLoggedIn$ | async"
      >
        WHOAMI
      </button>
    </li>
  </ul>
</nav>
<div class="login-container" *ngIf="showLogin$ | async">
  <app-login></app-login>
</div>
