@use '../../../../styles/mixins' as m;
.input-container{
    input{
        display: block;
        padding:0.5rem;
        font-size: 2rem;
        border: none;
        border-bottom: 3px solid transparent;
        transition: all 0.3s;
        width:40ch;

        @include m.respond-tab-port{
            width: 80%;
        }

    &:focus{
        border-bottom: 3px solid rgba(255, 68, 0, 0.397);
    }
    
    }
  
    &:not(:last-child){
        margin-bottom: 3rem;
    }
    label{
        transform: translateY(0);
        transition: all 0.4s;
        opacity:1;
    }

    input:placeholder-shown + label{
        visibility: hidden;
        opacity: 0;
        transform: translateY(-3rem);
    }

}