<form #loginForm="ngForm" class="login-form" (ngSubmit)="submit()">
  <div class="login-form__input">
    <label for="codice_utente">Email</label>
    <input
      required
      email
      id="codice_utente"
      type="text"
      name="codiceUtente"
      [(ngModel)]="loginRequest.email"
    />
  </div>
  <div class="login-form__input">
    <label for="codice_utente">Password</label>
    <input
      required
      [(ngModel)]="loginRequest.password"
      id="codice_utente"
      type="text"
      name="password"
    />
  </div>
  <div class="login-form__input">
    <button class="login-form__button" [disabled]="!loginForm.form.valid">
      Accedi
    </button>
  </div>
</form>
