<div class="login-form-container">
  <form action="" class="login-form">
    <div>
      <h1 class="login-form__title">Login</h1>
    </div>
    <div class="login-form__input-container">
      <app-input
        [id]="'login email'"
        [label]="'Email'"
        placeholder="Email"
        type="email"
      ></app-input>
    </div>
    <div class="login-form__input-container">
      <app-input
        [id]="'login email'"
        [label]="'Email'"
        placeholder="Email"
        type="email"
      ></app-input>
    </div>
    <app-button text="Login"></app-button>
  </form>
</div>
