@use '../../styles/variables' as v;
@use '../../styles/mixins' as m;

// :host{



// }

.login-form-container{
    border-radius: 5px;
    padding:6rem;
    background:linear-gradient(125deg, rgba(38, 71, 114, 0.582) 45%, transparent 45%),v.$login-bg;
    background-size: cover;
    
}

.login-form{
    width: 50%;
    
    // height: 90%;
    margin-top: auto;
    
    
    @include m.respond-tab-port{
        width: 100%;
    }

    &__title{
        font-size: 3rem;
        margin-bottom: 2rem;
        
       
            background:linear-gradient(#2d5b86, #040e44);
            background-clip: text;
            -webkit-text-fill-color: transparent

        
    }

    &__input-container{
        input{
            display: block;
            padding:0.5rem;
            font-size: 2rem;
            border: none;
            border-bottom: 3px solid transparent;
            transition: all 0.3s;

            @include m.respond-tab-port{
                width: 80%;
            }

        &:focus{
            border-bottom: 3px solid rgba(255, 68, 0, 0.397);
        }
        
        }
      
        &:not(:last-child){
            margin-bottom: 3rem;
        }
        label{
            transform: translateY(0);
            transition: all 0.2s;
            opacity:1;
        }

        input:placeholder-shown + label{
            visibility: hidden;
            opacity: 0;
            transform: translateY(-3rem);
        }

    }


}

.button{
    position: relative;
    padding: 1rem;
    border-radius: 10px;
    text-transform: uppercase;
    background-image: linear-gradient(to right bottom, #589ce9, #152c94);
    color:white;
    transition: all 0.2s;
    &:hover{
     transform: translateY(-2px);
     box-shadow: 0 1rem 2rem rgb(0 0 0 / 20%);
      

    
    }

    &::after{
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 1;
        background-image: linear-gradient(to right bottom, #588be9, #151794);
        border-radius: 10px;
        top:0;
        left:0;
        z-index: -1;
    }
    
    &:hover::after{
        transition: all .4s;
        transform: scale(2);
        opacity: 0;
    }
}