.admin-home{
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap:1rem;
}

.login-btn{
    padding: 1rem; margin-left: 2rem;
    background-color: #009879;
    color:white;

    
}