:host{
    position: absolute;
    bottom:8rem;
    right:8rem;
   
    
}

.banner-container{
    padding:2rem;
    background-color: rgba(255, 77, 77, 0.253);
    color:rgb(75, 0, 0);
    border-radius: 10px;
}