<div class="signup-container">
  <form action="" class="signup-form" [formGroup]="signupForm">
    <div class="signup-form__title">
      <h2>Signup Form</h2>
    </div>
    <div class="signup-form__input-container">
      <app-input
        type="email"
        placeholder="Email"
        label="email"
        id="email"
        formControlName="email"
      ></app-input>
    </div>
    <div class="signup-form__input-container">
      <app-input
        placeholder="Password"
        label="password"
        id="password"
        formControlName="password"
      ></app-input>
    </div>
    <div class="signup-form__input-container">
      <app-input
        [ngClass]="{ crossfieldError: (showInvalidConfirmError$ | async) }"
        placeholder="Confirm Password"
        label="confirm password"
        id="confirm-password"
        formControlName="confirmPassword"
      ></app-input>
    </div>
    <app-button text="Signup" (click)="signup($event)" [disabled]="disabledSubmit"></app-button>
  </form>
</div>
