@use '../../styles/variables' as v;

.signup-container{
    width: 90%;
    padding: 5rem;
    margin: auto;
    background:linear-gradient(125deg, rgba(38, 71, 114, 0.582) 45%, transparent 45%),v.$signup-bg;
    background-size: cover;
    border-radius: 6px;

}

.signup-form{
    width: 50%;
    padding:5rem;


    &__input-container:not(:last-child){
        margin-bottom: 4rem;
    }
    &__input{
        padding:0.5rem;
        font-size: 2rem;
        border:none;
    }
    &__title{
        margin-bottom: 10rem;
        font-size: 3.5rem;
        font-weight: bold;
        background: linear-gradient(rgb(0, 195, 255), rgb(0, 174, 255));
        background-clip:text;
        -webkit-text-fill-color: transparent;
    }
}