<div class="home-container">
  <section class="home-header">
    <h2>Angular Security Masterclass</h2>
    <h3>
      Practical Guide to Angular Security - Add Authentication / Authorization
      (from scratch) to an Angular / Node App
    </h3>
    <h4>Angular University</h4>
  </section>
  <section class="home-body">
    <app-rotating-card>
      <div cover class="card-cover card-cover--1">
        <div class="card-cover-description">
          <span>First Part of the Course</span>
        </div>
      </div>
      <div content class="card-content">
        <h3>The first section of the course</h3>
        <p>
          Perform the attacks yourself manually, in order to fully understand
          them
        </p>
        <p>Understand JWT in-depth, including the multiple signature types</p>
        <p>
          Know how to add Authentication to an Angular Application using JWTs
          (and traditional Server Sessions)
        </p>
      </div>
    </app-rotating-card>
    <app-rotating-card>
      <div cover class="card-cover card-cover--2">
        <div class="card-cover-description">
          <span>Second Part of the Course</span>
        </div>
      </div>
      <div content class="card-content">
        <h3>The first section of the course</h3>

        <p>Get a solid foundation in Web Security Fundamentals</p>
        <p>
          Understand and Defend an Application against common security attacks,
          such as Dictionary Attacks, Cross-Site Request Forgery, etc.
        </p>
        <p>
          Design and Implement Application Authentication and Authorization from
          scratch
        </p>
        <p>
          Know how to add RBAC (Role based Access control) Authorization to an
          Angular application
        </p>
      </div>
    </app-rotating-card>
  </section>
</div>
